.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    color: #FFF;
}

.footer span {
    font-weight: bold;
    color: #61dafb;
}